@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
body{
  background: #fff;
  color:#0a0a0a;
  overflow-x:hidden;
}
.container{
  width: 100%;
  height: 100vh;
  
  background-size: cover;
  background-image: center;
  
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
}

.logo {
  max-height: 160px;
  width: 140px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
}
nav ul li a:hover {
  color: #fd4766;
}
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #fd4766;
  transition: 0.3s;
  bottom: 0;
}
nav ul li a:hover:after {
  width: 100%;
}
.btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #fd4766;
  border: 2px solid #fd4766;
}
.btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.column1{
  flex-basis: 60%;
  
}
.column1 p{
  text-align: justify;
  color: #262626;
}

.column2{
  flex-basis: 40%;
}
.column2 img{
  width: 85%;
  
  
}

.content {
  position: absolute;
  top: 35%;
  left: 8%;
}
.content .title {
  color: #0a0a0a;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h1 {
  color: #1f1f25;
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
}
.content h1 span {
  color: #fd4766;
}
.content p {
  width: 55%;
  color: #202020;
  margin-top: 25px;
  margin-bottom: 30px;
}
#about{
  padding: 80px 0;
  color:#0a0a0a;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#about{
  position: absolute;
  top: 15%;
  left: 8%;
}

#contact{
  position: absolute;
  top: 25%;
  left: 8%;
}
.about-col-1{
  flex-basis: 40%;
  margin-top: 20px;
}
.about-col-1 p{
  text-align: justify;
  
}
.about-col-2 img{
  width: 70%;
  margin-top: 30px;
  border-radius: 15px;
}
.about-col-2{
  flex-basis: 50%;
}
.subtitle{
  font-size: 60px;
  font-weight: 600;
  color:#fd4766;
}
.tab-titles{
  display: flex;
  margin: 20px 0 40px;
}
.tab-links{
  margin-right: 50px;  
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;

}
.tab-links::after{
  content:"";
  width: 0;
  height: 3px;
  background: #fd4766;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after{
  width: 50%;

}
.tab-contents ul li{
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span{
  color: #fd4766;
  font-size: 18px;

}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;

}
#projects{
  position: absolute;
  top: 25%;
  left: 8%;
}
  

.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #fd4766;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color:#fd4766;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: #0a0a0a;
  transform: translateY(-5px);

}
.btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #fd4766;
  border: 2px solid #fd4766;
  cursor: pointer;
}
.btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}
.contact-right form{
  width: 100%;
}
form input, form textarea{
  width:100%;
  border: 0;
  outline:none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;

}
#msg{
  color:#fd4766;
  margin-top: 10px;
  display: block;
}